.input {
    padding: 24px;
    background-color: var(--field-bgr);
    color: var(--primary-text);
    max-width: 100%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;

    &::placeholder {
        color: var(--primary-text);
    }
}
